@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "SUITE-Regular";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header-title {
  text-align: center;
  display: block;
  margin: auto;
}
.header-goback-button {
  font-size: 12px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.header-goback-button svg {
  width: 14px;
  fill: white;
}
.header {
  background-color: #5ec281;
  position: relative;
}
.loading-logo {
  display: block;
  width: 240px;
  height: 240px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.itemList {
  margin-bottom: 60px;
}

.itemList-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 160px;
  margin: auto;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}
.itemList-item-img {
  display: block;
  width: 80px;
  height: 100px;
  margin: auto;
  margin-top: 5px;
  object-fit: contain;
}
.listItem-title {
  font-size: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  bottom: 12px;
  font-weight: bold;
}
